name: big_rrule_generator_example
description: "Example app for big_rrule_generator"
publish_to: 'none'
version: 0.0.1+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  big_rrule_generator:
    path: ..
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
